html,
body {
    overflow-x: hidden;
}
/*.user-card-group {*/
/*    margin: 15px auto;*/
/*    width: 900px;*/
/*    border: #000000 1px solid;*/
/*}*/
#margin {
    padding-top: 80px;
}
.groupBtn{
    background-color: #ff9000;
}
.group-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*margin: 10px;*/
    /*width: auto;*/
    align-content: center;
    font-size: 13px;
    color: #4d4d4d;
}
.group-list-title {
    font-size: 13px;
    color: #858585;
}

.group-list-content {
    font-size: 14px;
    margin-right: 10px;
}

.group_category {
    color: #ff9000;
    font-size: 20px;
}
.group_title {
    font-size: 20px;
    font-weight: 600;
}

#lockImg {
    height: 20px;
}
.col-sm-12{
    margin-right: 10px;
}

#modal_body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

#removeOne {
    color : #ff9000;
}
/*.createForm{*/
/*    width: 450px;*/
/*    border: black 2px solid;*/
/*    border-radius: 1rem;*/
/*    background-color: #ffffff;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*    text-align: center;*/
/*}*/
.col-lg-12{
    width: 400px;
    /*height: 50px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.searchForm{
    width: 300px;
    /*display: flex;*/
    border: black 2px solid;
    border-radius: 1rem;
    background-color: #ffffff;
    margin-right: 3px;
    /*margin-left: 3px;*/
    /*text-align: center;*/

}


.category{

    border: black 2px solid;
    border-radius: 1rem;
    background-color: #ffffff;
    text-align-last: center;
    /*margin-right: 5px;*/
    /*margin-left: auto;*/
    text-align : justify;
    width:80px;
    height:30px;
}
#searchBtn{
    background-color: #ffffff;
    text-align : right;
    padding-right: 1px;
    border: 0;
    outline: 0;
}
#listSearch{
    width: 240px;
    border: none;
}
/*.listHeader{*/
/*    width: 450px;*/
/*    display: flex;*/
/*    text-align: center;*/
/*    padding: 10px 15px;*/
/*    align-items: center;*/
/*    position: relative;*/
/*    justify-content: space-between;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*}*/

/*#createBtn{*/
/*    width: 60px;*/
/*    position: absolute;*/
/*    !*margin-left: auto;*!*/
/*    right: 9vw;*/
/*    !*margin-left: 10px;*!*/
/*    !*margin-right: 5px;*!*/
/*}*/

.createGroup{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #ff9000;
    border: 2px solid black;
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    width: 145px;
    margin-left: 3px;
}

.createCancel{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #ffc107;
    border: 2px solid black;
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    width: 145px;
    margin-right: 3px;
}

/*.createGroup:focus,*/
/*.createCancel:focus,*/

#group_person_count,
#group_category{
    width: 400px;
    height: 40px;
    border-radius: 0.25rem;
    border: black 2px solid;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
}
.form-control:focus{
    box-shadow: unset;
    border-color: #ff9000;
}
/*.form-custom{*/
/*    border: black 2px solid;*/
/*    width: 400px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*}*/
.form-group{
    padding: 0.375rem 0.75rem;
}
.secret{
    margin-left: auto;
    /*margin-right: auto;*/
    margin-right: 330px;
}
.targetSelect{
    margin-left: auto;
    margin-right: 203px;
}