/*html,*/
/*body {*/
/*    overflow-x: hidden;*/
/*}*/
/*!*.user-card-group {*!*/
/*!*    margin: 15px auto;*!*/
/*!*    width: 900px;*!*/
/*!*    border: #000000 1px solid;*!*/
/*!*}*!*/
/*#margin {*/
/*    padding-top: 80px;*/
/*}*/
.groupBtn{
    background-color: #ff9000;
}
/*.group-content {*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    !*margin: 10px;*!*/
/*    !*width: auto;*!*/
/*    align-content: center;*/
/*    font-size: 13px;*/
/*    color: #4d4d4d;*/
/*}*/
/*.group-list-title {*/
/*    font-size: 13px;*/
/*    color: #858585;*/
/*}*/

/*.group-list-content {*/
/*    font-size: 14px;*/
/*    margin-right: 10px;*/
/*}*/

/*.group_category {*/
/*    color: #ff9000;*/
/*    font-size: 20px;*/
/*}*/
.group_title {
    font-size: 20px;
    font-weight: 600;
}

/*#lockImg {*/
/*    height: 20px;*/
/*}*/
.col-sm-12{
    margin-right: 10px;
}

#modal_body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

#removeOne {
    color : #ff9000;
}
/*.createForm{*/
/*    width: 450px;*/
/*    border: black 2px solid;*/
/*    border-radius: 1rem;*/
/*    background-color: #ffffff;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*    text-align: center;*/
/*}*/
.col-lg-12{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    width: 400px;
}
.searchForm{
    /*display: flex;*/
    border: black 2px solid;
    border-radius: 1rem;
    /*background-color: #ffffff;*/
    margin-right: 1vw;
    /*margin-left: 3px;*/
    /*text-align: center;*/
    width: 78vw;
}

#searchBtn{
    background-color: #ffffff;
    text-align : right;
    padding-right: 1px;
    border: 0;
    outline: 0;
}
#listSearch{
    border: none;
    margin-left: 1vw;

    width: 47vw;
    font-size: 18px;
    height:36px;
}
.category:focus,
#listSearch:focus{
    outline: none;
}

.category{
    border: black 2px solid;
    border-radius: 1rem;
    background-color: #ffffff;
    text-align-last: center;
    margin-right: 2px;
    margin-left: 1vw;
    text-align : justify;

    width:20vw;
    font-size: 18px;
    height:40px;
}
.secret{
    padding-top: 0.7vw;
    padding-right: 54vw;
}
.selectTime{
    padding-right: 17vw;
}
.form-group{
    padding: 0.375rem 0;
}
@media (min-width: 512px) {
    .col-lg-12{
        width: 450px;
    }
    .searchForm{
        width: 330px;
    }
    #listSearch{
        width: 265px;
        font-size: 18px;
        height:36px;
    }
    .category{
        width:100px;
        font-size: 18px;
        height:40px;
    }
    .form-group{
        padding: 0.375rem 0.75rem;
    }
    .secret{
        padding-top: 10px;
        padding-right: 215px;
    }
    .selectTime{
        padding-right: 100px;
    }
}
@media (min-width: 768px) {
    .secret{
        padding-top: 10px;
        padding-right: 270px;
    }
    .selectTime{
        padding-right: 180px;
    }
}
@media (min-width: 992px) {
    .col-lg-12{
        width: 500px;
    }
    .searchForm{
        width: 380px;
    }
    #listSearch{
        width: 310px;
        font-size: 18px;
        height:36px;
    }
    .category{
        width:100px;
        font-size: 18px;
        height:40px;
    }
}
@media (min-width: 1200px) {
    .secret{
        padding-top: 10px;
        padding-right: 320px;
    }
    .selectTime{
        padding-right: 230px;
    }
}

/*.listHeader{*/
/*    width: 450px;*/
/*    display: flex;*/
/*    text-align: center;*/
/*    padding: 10px 15px;*/
/*    align-items: center;*/
/*    position: relative;*/
/*    justify-content: space-between;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*}*/

/*#createBtn{*/
/*    width: 60px;*/
/*    position: absolute;*/
/*    !*margin-left: auto;*!*/
/*    right: 9vw;*/
/*    !*margin-left: 10px;*!*/
/*    !*margin-right: 5px;*!*/
/*}*/

/*.createGroup{*/
/*    display: inline-block;*/
/*    font-weight: 400;*/
/*    line-height: 1.5;*/
/*    color: #000000;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*    cursor: pointer;*/
/*    background-color: #ff9000;*/
/*    border: 2px solid black;*/
/*    padding: 0.375rem 0.75rem;*/
/*    font-size: 1.1rem;*/
/*    width: 145px;*/
/*    margin-left: 3px;*/
/*}*/

/*.createCancel{*/
/*    display: inline-block;*/
/*    font-weight: 400;*/
/*    line-height: 1.5;*/
/*    color: #000000;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*    cursor: pointer;*/
/*    background-color: #ffc107;*/
/*    border: 2px solid black;*/
/*    padding: 0.375rem 0.75rem;*/
/*    font-size: 1.1rem;*/
/*    width: 145px;*/
/*    margin-right: 3px;*/
/*}*/

/*.createGroup:focus,*/
/*.createCancel:focus,*/

/*#group_person_count,*/
/*.group_category{*/
/*    !*width: 400px;*!*/
/*    !*height: 40px;*!*/
/*    border-radius: 0.25rem;*/
/*    border: black 2px solid;*/
/*    !*margin-right: auto;*!*/
/*    !*margin-left: auto;*!*/
/*}*/
/*.form-control:focus{*/
/*    box-shadow: unset;*/
/*    border-color: #ff9000;*/
/*}*/
/*.form-custom{*/
/*    border: black 2px solid;*/
/*    width: 400px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*}*/


/*.targetSelect{*/
/*    margin-left: auto;*/
/*    margin-right: 203px;*/
/*}*/
