html,
body {
    overflow-x: hidden;
}
.user-card-group {
    margin: 15px auto;
    width: 1000px;
    border: #000000 1px solid;
}
#margin {
    padding-top: 80px;
}
.groupBtn{
    background-color: #ff9000;
}
.group-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    font-size: 13px;
    color: #4d4d4d;
}
.group-list-title {
    font-size: 13px;
    color: #858585;
}

.group-list-content {
    font-size: 14px;
    margin-right: 10px;
}

.group_category {
    color: #ff9000;
    font-size: 20px;
}
.group_title {
    font-size: 20px;
    font-weight: 600;
}

#lockImg {
    height: 20px;
}
.col-sm-12{
    margin-right: 10px;
}

#modal_body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
#searchBtn{
    background-color: #ff9000;
}
#removeOne {
    color : #ff9000;
}
.col-lg-12{
    width: 500px;
    border: black 2px solid;
    border-radius: 1rem;
    background-color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


.listSearch{
    width: 400px;
    border: black 2px solid;
    border-radius: 1rem;
    background-color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.createGroup{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #ff9000;
    border: 2px solid black;
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    width: 145px;
    margin-left: 3px;
}

.createCancel{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #ffc107;
    border: 2px solid black;
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    width: 145px;
    margin-right: 3px;
}

/*.createGroup:focus,*/
/*.createCancel:focus,*/

.form-control:focus{
    box-shadow: unset;
    border-color: #ff9000;
}
#group_person_count,
#group_category{
    width: 400px;
    height: 40px;
    border-radius: 0.25rem;
    border: black 2px solid;
}
.form-custom{
    border: black 2px solid;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}
.form-group{
    padding: 0.375rem 0.75rem;
}
.secret{
    margin-left: auto;
    margin-right: 340px;
}
.targetSelect{
    margin-left: auto;
    margin-right: 203px;
}