.rounded-3 {
    border-radius: 0.9rem !important;
    border: 1px solid #ff9000 !important;
}
#message-text:hover{
    border: 1px solid #f75718;
}
#message-text:focus{
    border: 1px solid #f75718;
    box-shadow: none;
}
#message_submit:hover{
    background: #ff9000;
    border: 1px solid #ff9000;
    color: white;
}

#modalShowButton{
    position:absolute;
    margin-left:90%;
    width:5%;
}

.align-self-end{
    font-size: 15px;
}

#groupMessageUserId{
    font-size : 15px;
}

@media (max-width: 400px) {
    .rounded-3{
        font-size: smaller;
    }
    #groupMessageModal{
        width: 80%;
        margin-left: 10%;
    }
    .align-self-end{
        font-size: 13px;
    }
    #groupMessageUserId{
        font-size : 13px;
    }

    #groupMessageModal > .modal-header{
        height: 50px;
    }

    #groupMessageModal > .modal-header > .fw-lighter{
        font-size: larger;
    }

    #modalShowButton{
        position:absolute;
        margin-left:75%;
        width: 15%;
    }

    /*div.flex-row-reverse > .remove_message.swipeleft {*/
    /*    display: block;*/
    /*    border: 1px solid #ff9000;*/
    /*    background-color: white;*/
    /*    width: auto;*/
    /*}*/
}