.rounded-3 {
    border-radius: 0.9rem !important;
    border: 1px solid #ff9000 !important;
}
#message-text:hover{
    border: 1px solid #f75718;
}
#message-text:focus{
    border: 1px solid #f75718;
    box-shadow: none;
}
#message_submit:hover{
    background: #ff9000;
    border: 1px solid #ff9000;
    color: white;
}
#message-text,
#message_submit{
    border: 1px solid black;
}

#modalShowButton{
    position:absolute;
    margin-left:85%;
    width:10vw;
}

.align-self-end{
    font-size: 15px;
}

#groupMessageUserId{
    font-size : 15px;
}

@media (max-width: 400px) {
    .rounded-3{
        font-size: smaller;
    }
    /*#groupMessageModal{*/
    /*    width: 80%;*/
    /*    margin-left: 10%;*/
    /*}*/
    .align-self-end{
        font-size: 13px;
    }
    #groupMessageUserId{
        font-size : 13px;
    }

    #groupMessageModal > .modal-header{
        height: 50px;
    }

    #groupMessageModal > .modal-header > .fw-lighter{
        font-size: larger;
    }

    /*#modalShowButton{*/
    /*    position:absolute;*/
    /*    margin-left:75%;*/
    /*    width: 15%;*/
    /*}*/

    /*div.flex-row-reverse > .remove_message.swipeleft {*/
    /*    display: block;*/
    /*    border: 1px solid #ff9000;*/
    /*    background-color: white;*/
    /*    width: auto;*/
    /*}*/
}

@media (min-width: 512px) {
    #modalShowButton{
        position:absolute;
        margin-left:85%;
        width:8.5vw;
    }

}
@media (min-width: 768px) {
    #modalShowButton{
        position:absolute;
        margin-left:87%;
        width:7vw;
    }
}
@media (min-width: 992px) {
    #modalShowButton{
        position:absolute;
        margin-left:88%;
        width:6vw;
    }
}

@media (min-width: 1200px) {
    #modalShowButton{
        position:absolute;
        margin-left:88%;
        width:5vw;
    }
}