@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
.ml-calendar-demo {
    background: #ff9000;
    padding: 68px 28px;
}

.ml-calendar {
    background: #fff;
    color: #2d2e2f;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    max-width: 940px;
    margin: 0 auto;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
}
.ml-calendar a {
    color: #2d2e2f;
    text-decoration: none;
}
.ml-calendar a:hover {
    color: #ff9000;
}
.ml-calendar h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.ml-calendar h2 {
    font-size: 2rem;
    font-weight: 300;
}
.ml-calendar h2 strong {
    font-weight: 600;
}
.ml-calendar .subheading {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 0.75rem;
    color: #ff9000;
}
.ml-calendar .calendar-btn {
    background: #ececec;
    display: block;
    color: #000;
    padding: 8px 10px;
    border-radius: 0.5rem;
    font-weight: 600;
}
.ml-calendar .calendar-btn i {
    margin: 0 5px;
}
.ml-calendar .primary-color {
    font-weight: 700;
    font-size: 18px;
    color: #ff9000;
}
.ml-calendar section.calendar-left {
    width: 30%;
    float: left;
    background-color: #f9f9f9;
    box-shadow: 1px 0px 0px #ececec;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    min-height: 520px;
}
@media screen and (max-width: 760px) {
    .ml-calendar section.calendar-left {
        width: 100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1em;
    }
}
.ml-calendar section.calendar-left .sidebar {
    padding: 20px 20px;
}
.ml-calendar section.calendar-left .sidebar ul.calendar-events {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}
.ml-calendar section.calendar-left .sidebar ul.calendar-events li {
    margin-left: 0;
}
.ml-calendar section.calendar-right {
    width: 70%;
    float: right;
}
@media screen and (max-width: 760px) {
    .ml-calendar section.calendar-right {
        width: 100%;
    }
}
.ml-calendar section.calendar-right .calendar {
    padding: 20px 30px;
    position: relative;
}

.ml-calendar section.calendar-right .calendar .calendar-nav {
    text-align: right;
    position: absolute;
    top: 52px;
    right: 30px;
    font-weight: 500;
}

.ml-calendar section.calendar-right .calendar .calendar-nav a {
    border: 1px solid #ececec;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
}
@media screen and (max-width: 760px) {
    .header-margin {
        margin-bottom: 25px;
    }
    .ml-calendar section.calendar-right .calendar .calendar-nav {
        position: static;
        text-align: left;
        margin: -10px 0 20px 0;
    }
}
.ml-calendar section.calendar-right .calendar .calendar-row {
    display: flex;
    flex: 1 1 0;
    height: 9vh;
}
.ml-calendar section.calendar-right .calendar .calendar-day {
    width: 100%;
    padding: 0.5rem 0.5rem;
    min-height: 3.2em;
    text-align: right;
    border: 1px solid #ececec;
    margin: -1px 0 0 -1px;
}
.ml-calendar section.calendar-right .calendar .calendar-day.day-name {
    min-height: 0;
    border: none;
    text-align: center;
    padding-top: 40px;
    font-weight: 200;
}
.ml-calendar section.calendar-right .calendar .calendar-day .calendar-date {
    /* color: #000; */
    font-size: 1.25rem;
    font-weight: 600;
}
.ml-calendar section.calendar-right .calendar .calendar-day:hover {
    cursor: pointer;
}
.ml-calendar
section.calendar-right
.calendar
.calendar-day:hover
.calendar-date {
    cursor: pointer;
    color: #ffc107;
}
.ml-calendar
section.calendar-right
.calendar
.calendar-day.inactive
.calendar-date {
    color: #999;
    font-weight: 300;
}
.ml-calendar
section.calendar-right
.calendar
.calendar-day.active
.calendar-date {
    color: #ff9000;
}
.ml-calendar section.calendar-right .calendar .calendar-day.weekend {
    background: #f9f9f9;
}
.ml-calendar section.calendar-right .calendar .calendar-day .calendar-event {
    height: 16px;
    padding-top: 1px;
    padding: 1px 8px 0 8px;
    font-size: 0.7rem;
    font-weight: 400;
    border-radius: 10px;
    background-color: #ececec;
    color: #999;
    display: inline-block;
    margin-top: 3px;
}
.ml-calendar .clear {
    clear: both;
}

.day-active .calendar-date {
    color: #ffc107;
}

.timeStrong {
    font-weight: 800;
}

.calendar-header {
    margin-top: 27px;
    margin-bottom: -20px;
}
