<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapeer 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ball.mapper.GroupMapper">
    <insert id="insertGroup" parameterType="com.ball.vo.GroupVO"
            useGeneratedKeys="true" keyProperty="group_id">
        insert into group_table (user_id_group_header, group_name, group_category, group_is_secret,
                                 group_password, group_person_count, group_content, group_reg_date, group_mod_date)
        values(#{user_id_group_header},#{group_name},#{group_category}, #{group_is_secret},
            #{group_password}, #{group_person_count}, #{group_content}, sysdate(), sysdate())
    </insert>
    <select id="selectGroupList" resultType="com.ball.vo.GroupVO">
        select g.group_id, g.user_id_group_header, u.user_nickname as user_nickname_group_header,
        g.group_name, g.group_category, g.group_is_secret, count(gr.user_id) as group_join_person_number,
        g.group_person_count, g.group_reg_date
        from group_table g
        left outer join user u on g.user_id_group_header = u.user_id
        left outer join group_user_relationship gr on gr.group_id = g.group_id
        <where>
            <if test="category != null">
                g.group_category like CONCAT('%',#{category},'%')
            </if>
            <if test="keyword != null">
                And (g.group_name like CONCAT('%',#{keyword},'%') or g.group_content like CONCAT('%',#{keyword},'%'))
            </if>
            <if test="criterionNumber > 0">
                <![CDATA[
                AND g.group_id < #{criterionNumber}
                ]]>
            </if>
        </where>
        group by g.group_id
        order by g.group_id desc
        limit #{amount}
    </select>
    <update id="groupUpdate">
        update group_table set group_name = #{group_name}, group_category = #{group_category},
                               group_is_secret = #{group_is_secret}, group_password = #{group_password},
                               group_person_count = #{group_person_count}, group_content = #{group_content},
                               group_mod_date = sysdate()
            where group_id = #{group_id}
    </update>
    <select id="groupRead" resultType="com.ball.vo.GroupVO">
        select g.group_id, g.user_id_group_header, u.user_nickname as user_nickname_group_header, g.group_content,
               g.group_name, g.group_category, group_password, g.group_is_secret, count(gr.user_id) as group_join_person_number,
               g.group_person_count, g.group_reg_date
        from group_table g
                 left outer join user u on g.user_id_group_header = u.user_id
                 left outer join group_user_relationship gr on gr.group_id = g.group_id
        where g.group_id = #{group_id}
        group by g.group_id
    </select>
    <delete id="groupDelete">
        delete from group_table where group_id= #{group_id}
    </delete>
    <delete id="joinDelete">
        delete from group_user_relationship where group_id = #{group_id}
    </delete>
    <delete id="joinOneDelete">
        delete from group_user_relationship where group_id = #{group_id} and user_id = #{user_id}
    </delete>
    <insert id="joinGroup" parameterType = "com.ball.vo.GroupVO">
        INSERT INTO group_user_relationship
        (`group_id`,`user_id`,`group_user_relationship_reg_date`,`group_user_relationship_mod_date`)
        VALUES( #{group_id}, #{user_id}, sysdate(), sysdate() )
    </insert>
    <select id="joinAllRead" resultType="int">
        select count(*) from group_user_relationship where group_id = #{group_id} and user_id = #{user_id}
    </select>
    <select id="passwordCheck" resultType="String">
        select group_password from group_table where group_id = #{group_id}
    </select>
</mapper>