<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapeer 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ball.mapper.TimerMapper">
    <insert id="insertTodayTimer" parameterType="com.ball.vo.TimerVO"
            useGeneratedKeys="true" keyProperty="timer_id">
        insert into timer (user_id, timer_date, timer_accumulated_day, timer_is_play, timer_reg_date, timer_mod_date)
        values(#{user_id}, now(),"00:00:00", 0, now(), now())
    </insert>

    <select id="selectTodayTimerByUserID" resultType="com.ball.vo.TimerVO">
        select * from timer where date(timer_date) = date(now()) and user_id = #{user_id}
    </select>

    <select id="selectTimerByTimerID" resultType="com.ball.vo.TimerVO">
        select * from timer  where timer_id = #{timer_id}
    </select>

    <update id="updateAccumulatedTimeAndState">
        update timer set timer_accumulated_day = #{timer_accumulated_day}, timer_is_play=#{timer_is_play}, timer_mod_date=now()
        where timer_id = #{timer_id} and user_id =  #{user_id}
    </update>

    <select id="selectListTodayUserTimerbyGroupID" resultType="com.ball.vo.TimerVO">
        select IFNULL(t.timer_id, -1) as timer_id, gur.user_id, u.user_nickname
        , ifnull(t.timer_accumulated_day, '00:00:00') as timer_accumulated_day
        , IFNULL(t.timer_is_play, 0) as timer_is_play, IFNULL(t.timer_mod_date, now()) as timer_mod_date
        from group_user_relationship gur
        left join user u on gur.user_id = u.user_id
        left outer join timer t on gur.user_id = t.user_id and
            <![CDATA[
                date(t.timer_date) = if(hour(now())<3, date(DATE_SUB(NOW(), INTERVAL 1 DAY)), date(now()))
            ]]>
        where gur.group_id = #{group_id}
    </select>
</mapper>